* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 50px;
  text-align: center;
  border: 2px solid white;
}

.container {
  display: flex;
  border: 2px solid white;
}

.inner-container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  padding: 20px;
  margin: 20px;
  width: 30%;
}

.container .inner-container .input-info {
  height: 30%;
}

span {
  padding: 10px;
  border: 2px solid white;
}

.container .inner-container .output-info div {
  margin: 40px;
}

label {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
}

input {
  margin: 10px;
}

select {
  margin: 10px;
}
body {
  height: 100vh;
  align-items: center;
  border: 2px solid white;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

button {
  margin: 10px;
}
h1 {
  text-align: center;
}
